.card-field {
  margin: 0 auto;
  min-width: 30vw;
  max-width: 90vw;
  min-height: 20vh;
  max-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .card-field{
    max-width: 30vw;
    max-height: 1000vh;
  }

  }
