.card-field {
margin: 0 auto;
  min-width: 0ch;
  max-width: 80ch;
  min-height: 40vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
